.links{
    height: 30%;
    position: relative;
    text-align: right;
    font-family: "Aileron-Regular", Aileron, Arial, sans-serif;
    margin: 10px 10px 10px 10px;
}

.linked {
    position: relative;
    margin: 10px;
}

.git {
    position: relative;
    margin: 10px;
}

.schrute {
    position: relative;
    margin: 10px;
}

.header {
    position: relative;
    text-align: center;
    margin: 5px 5px 5px 5px;
}

h1 {
    font-family: "Aileron-Regular", Aileron, Arial, sans-serif;
}

.about {
   
    height: 30%;
    position: relative;
    text-align: center;
    background: rgb(179, 217, 248);
    border: 0px 0px 25px 0px solid rgb(179, 217, 248);
    position: relative;
    padding: 25px 25px 25px 25px;
    font-family: "Aileron-Regular", Aileron, Arial, sans-serif;
    display: block;
    /*margin: 25px 0px 0px 0px;*/
}

h2 {
    font-family: "Aileron-Regular", Aileron, Arial, sans-serif;
}

.secondHeader {
    margin: 0 15px 15px 15px;
    padding: 0;
}

.imgs {
    height: 50%;
    /*text-align: center;*/
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    border: 25px;
    position: relative;
}

.left {
    vertical-align: middle;
    border: 10px;
    margin: 15px 10% 15px 10%;
    position: relative;

}

.right{
    vertical-align: middle;
    border: 10px;
    margin: 15px 10% 15px 10%;
    position: relative;
    
}

.box {
    height: 200px; 
    background: rgb(10, 81, 139);
    /*border: 25px solid rgb(10, 81, 139);*/
    margin: 0;
}

.bar {
    height: 50px;
    background: rgb(0, 0, 0);
    /*border: 15px solid rgb(0, 0, 0);*/
    /*margin: 0px 0px 80px 0px;*/
    
}

/*
.button {
    position: relative;
    background-color: rgb(10, 81, 139);
    border: none;
    color: white;
    padding: 16px;
    text-align: center;
    display: inline-block center relative;
    vertical-align: middle;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 1em;
    border-radius: 10px;
}
*/
.copyright {
    width: 50%;
    text-align: left;
    border: 17px solid rgb(0, 0, 0);
    position: absolute;
    color: white;
    font-family: "Aileron-Regular", Aileron, Arial, sans-serif;
}

